<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
		</Console>
		<JDBC name="dbLogsStore" tableName="event_logs">
		
			<!-- If Using then JNDI DateSource -->
			<!-- <DataSource jndiName="java:/comp/env/jdbc/LoggingDataSource" /> -->
			
			<ConnectionFactory 
                                class="com.hcl.config.LogsStoreConnectionFactory" 
                                method="getConnection" />
			<Column name="ID" pattern="%u" />
			<Column name="DATE_TIME" isEventTimestamp="true" />
			<Column name="CLASS" pattern="%logger" />
			<Column name="LEVEL" pattern="%level" />
			<Column name="MESSAGE" pattern="%message" />
			<Column name="EXCEPTION" pattern="%ex{full}" isClob="true"/>
		</JDBC>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="dbLogsStore" />
		</Root>
	</Loggers>

</Configuration>